<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>테이블 데이터</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>금융회사 명</th>
        <th>금융 상품명</th>
        <th>가입 방법</th>
        <th>대출종류명</th>
        <th>CB 회사명</th>
        <th>금리구분</th>
        <th>평균 금리</th>
    </tr>
    <tr th:each="creditLoan : ${creditLoans}">
        <td th:text="${creditLoan.company}"></td>
        <td th:text="${creditLoan.productName}"></td>
        <td th:text="${creditLoan.method}"></td>
        <td th:text="${creditLoan.loanType}"></td>
        <td th:text="${creditLoan.cbCompany}"></td>
        <td th:text="${creditLoan.rateType}"></td>
        <td th:text="${creditLoan.averageRate}"></td>
    </tr>
</table>
</body>
</html>

