<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<body>
<div>
    <h1>금융 상품 추천 서비스</h1>
    <h2>마이페이지</h2>
    <p><span th:text="${session.loginName}"></span> 님, 반갑습니다.</p>
    <p><span th:text="${session.age}"></span>세 / <span th:text="${session.gender}"></span></p>

    <!-- 관심 상품 ID 목록 -->
    <h3>관심 상품 목록</h3>
    <ul>
        <li th:each="productId : ${favoriteProductIds}" th:text="${productId}"></li>
    </ul>
</div>
</body>
</html>